<div class="ui container">

<h1>
  {{title}}
</h1>


<table>
    <thead>
        <tr>
            <th *ngFor="let section of sections"
                attr.colspan="{{section.length}}">
                <table>
                    <tr>
                        <td>{{ section.name }}</td>
                    </tr>
                    <tr>
                        <td *ngFor="let attr of section.attributes">
                            {{ attr.name }}</td>
                </table>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let person of people">
            <td *ngFor="let key of person.name | keys">
                {{ key.value }}</td>
            <td *ngFor="let key of person.features | keys">
                {{ key.value }}</td>
        </tr>

        <tr>
            <td>Thing1</td>
            <td>Thing 2</td>
            <td>Thing 3</td>
            <td>Etc.</td>
            <td>Avg</td>
            <td>Avg</td>
            <td>Sum</td>
            <td></td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Avg</td>
            <td>Avg</td>
            <td>Sum</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>##</td>
            <td>##</td>
            <td>##</td>
            <td></td>
        </tr>
    </tfoot>
    
</table>

</div>