<div class="ui container">

<h1>
  {{title}}
</h1>


<table>
    <thead>
        <tr>
            <th *ngFor="let section of sections"
                attr.colspan="{{section.length}}">
                {{ section.name }}</th>
        </tr>
        <tr>
            <th *ngFor="let attr of attributes"
                (click)="onSelect(attr)"
                [class.selected]="attr === selectedAttr">
                {{ attr.name }}</th>
        </tr>
    </thead>

    <tbody>
        <tr colspan="7"
            *ngIf="selectedAttr">
            {{ selectedAttr.name }}</tr>
        <tr>
            <td>One</td>
            <td>Two</td>
            <td>Three</td>
            <td>m</td>
            <td>50</td>
            <td>200</td>
            <td>23</td>
            <td>True</td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Avg</td>
            <td>Avg</td>
            <td>Sum</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>##</td>
            <td>##</td>
            <td>##</td>
            <td></td>
        </tr>
    </tfoot>
    
</table>

</div>